import React from 'react';

interface {{name}}Props {
  // Define props here
}

export function {{name}}({ ...props }: {{name}}Props) {
  return (
    <div>
      {/* Component implementation */}
    </div>
  );
}
